body {
    margin: 0;
    min-height: 100vh;
    background-color: beige;

}

.navbar {
    text-align: end;
    display: flex;
    color: white;
    background-color: black;
}

a {
    color: white;
}

.imagen {
    float: right;

}

form {
    display: inline-block;
}

input {
    display: block;
}

textarea {
    display: block;
}




footer {
    background-color: black;
    color: white;
    width: 100%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
}